:root {
  --color-black:#000000;
  --color-white: #ffffff;
  --color-wenge: #635663;
  --color-bg: #4C443C;
  --color-superiority-blue: #7794AE;
  --color-black-bean: #390000;
  --color-red:#FF0000;
  --color-green: #0AFF1A;
}

.chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 80%;
  margin: 20px 135px;
  height: auto;
  min-height: 300px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.bar {
  width: 50px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  font-size: 14px;
  transition: height 0.5s ease;
}

.bar-container {
  position: relative;
}

.bar-container span {
  position: absolute;
  bottom: -20px;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  left: -20px;
}

input[type=hidden] {
  display: none;
}

.head {
  text-align: center;
  font-family: sans-serif;
}

.wrap-count {
  text-align: center;
  margin-top: 100px;
}
.wrap-count h1 {
  font-family: sans-serif;
  margin: 10px 0;
}

@media (max-width: 920px) {
  .wrap-count {
    text-align: center;
    margin-top: 100px;
  }
  .wrap-count h1 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px 0;
  }
}
@media (max-width: 700px) {
  .chart {
    margin: 20px 98px;
  }
  .wrap-count {
    text-align: center;
    margin-top: 100px;
  }
  .wrap-count h1 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px 0;
  }
}
@media (max-width: 620px) {
  .chart {
    margin: 20px 118px;
    width: 68%;
  }
  .wrap-count {
    text-align: center;
    margin-top: 100px;
  }
  .wrap-count h1 {
    font-size: 15px;
    font-family: sans-serif;
    margin: 9px 0;
  }
}
@media (max-width: 500px) {
  .chart {
    margin: 19px 105px;
    width: 63%;
  }
  .wrap-count {
    text-align: center;
    margin-top: 100px;
  }
  .wrap-count h1 {
    font-size: 10px;
    font-family: sans-serif;
    margin: 9px 0;
  }
}
@media (max-width: 400px) {
  .chart {
    margin: 19px 105px;
    width: 63%;
  }
  .head {
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 65px;
  }
  .wrap-count {
    margin-top: 49px;
    margin-left: 69px;
  }
  .wrap-count h1 {
    font-size: 10px;
    font-family: sans-serif;
    margin: 9px 0;
  }
}
* {
  color: var(--color-white);
  font-family: sans-serif;
}

.container {
  position: relative;
  width: auto;
  height: auto;
  margin: 48px 90px;
  overflow: hidden;
}
.container h1 {
  margin: 10px 0;
}
.container p {
  margin: 23px 0;
}
.container .helpUser {
  text-decoration: none;
  border: 1px solid var(--color-superiority-blue);
  border-radius: 15px;
  padding: 8px 16px;
  background: rgb(143, 0, 255);
  background: linear-gradient(90deg, rgb(143, 0, 255) 0%, rgb(143, 0, 255) 54%, rgb(143, 0, 255) 100%);
}
.container .helpUser:hover {
  background: rgb(204, 173, 228);
  background: linear-gradient(90deg, rgb(204, 173, 228) 0%, rgb(143, 0, 255) 74%, rgb(178, 148, 201) 100%);
}
.container .line {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  margin: 30px 0;
}
.container .countProblemHead {
  text-align: center;
}

.colorful-form {
  max-width: 400px;
  margin: 30vh auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #ff5f59;
}

.problemUser {
  margin: 10px 0;
  color: var(--color-black);
}

.container-settings {
  width: auto;
  height: auto;
  margin: 20px 70px;
  position: relative;
}
.container-settings .wrapUpdate {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateY(-30vh);
}
.container-settings .formUpd {
  display: flex;
  flex-direction: column;
}
.container-settings .LabUpd {
  margin-left: 41px;
  font-size: 15px;
}
.container-settings .updButton {
  background: transparent;
  border: none;
  width: 100px;
  height: 30px;
  background-color: var(--color-green);
  margin-left: 53px;
  border: 1px solid var(--color-green);
  font-size: 10px;
  cursor: pointer;
  border-radius: 15px;
  color: var(--color-black);
}
.container-settings .updInp {
  color: var(--color-black);
  height: 40px;
  border-radius: 15px;
  text-align: center;
  margin: 15px 20px;
  border: none;
}
.container-settings .exitInAccount {
  color: var(--color-black-bean);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}
.container-settings .exitInAccount:hover {
  color: var(--color-red);
}

@media (hover: hover) {
  .updButton:hover {
    color: var(--color-white);
    background: rgb(105, 158, 110);
    background: linear-gradient(40deg, rgb(105, 158, 110) 18%, rgb(47, 153, 56) 40%, rgb(27, 97, 33) 100%);
  }
}
@media (hover: none) {
  .updButton:active {
    color: var(--color-white);
    background: rgb(105, 158, 110);
    background: linear-gradient(40deg, rgb(105, 158, 110) 18%, rgb(47, 153, 56) 40%, rgb(27, 97, 33) 100%);
  }
}
.exit {
  color: var(--color-white);
  top: 10px;
  left: 10px;
  position: absolute;
  border: 1px solid var(--color-black-bean);
  padding: 7px 10px;
  text-decoration: none;
  background-color: var(--color-black-bean);
  border-radius: 15px;
}
.exit:hover {
  background: rgb(230, 0, 0);
  background: linear-gradient(40deg, rgb(230, 0, 0) 0%, rgb(204, 33, 33) 40%, rgb(149, 79, 79) 100%);
}

.doneTask {
  color: var(--color-black);
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: 1px solid var(--color-superiority-blue);
  background: var(--color-green);
  cursor: pointer;
  padding: 9px 10px;
  border-radius: 15px;
}
.doneTask:hover {
  color: var(--color-white);
  background: rgb(105, 158, 110);
  background: linear-gradient(40deg, rgb(105, 158, 110) 16%, rgb(39, 122, 46) 40%, rgb(27, 97, 33) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

.card {
  width: 190px;
  padding: 1.9rem 1.2rem;
  text-align: center;
  background: #2a2b38;
  margin: 20vh auto;
}

.field {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

.btn {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 0.75em;
  transition: color 0.3s ease-out;
}

.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn-link:hover {
  color: #ffeba7;
}

.aside {
  background-color: var(--color-wenge);
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}
.aside .aside-list {
  display: block;
  margin-top: 30vh;
}
.aside li {
  list-style: none;
  margin: 25px 0;
}

/*# sourceMappingURL=index.css.map */
